*
!.gitignore
!.zsh_*_aliases
!.zshrc
!.config/
!.config/starship.toml
!.config/nvim/
!.config/nvim/lua
!.config/nvim/init.lua
!.config/nvim/lua/config/
!.config/nvim/lua/config/lsp/
!.config/nvim/lua/plugins/
!.config/nvim/lua/config/*
!.config/nvim/lua/config/lsp/*
!.config/zsh
!.config/zsh/functions
!.config/zsh/plugins
